@media (max-width: 768px) {

    body>section.uno>div>div {
        padding: 0;
    }

    body>footer>div.started {
        padding: 50px;
    }
}


@media (max-width: 1024px) {

    body>section.uno>div>div {
        padding: 0;
    }

    body>footer>div.started {
        padding: 50px;
    }
}

@media (max-width: 320px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}